{% extends "base.html" %}
{% load static i18n %}

{% block section_one %}
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-lower">Bienvenue {{ user.first_name }}</span>
            <span class="section-heading-upper">sur le site de la Team Spirit !</span>
          </h2>
          <p class="mb-0">Ce site web est destiné à partager et diffuser des informations entre les adhérents de notre association, n'hésitez pas à l'utiliser !</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock section_one %}

{% block section_two %}
<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'img/ekiden19.png' %}" alt="">
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-lower">Événements</span>
        </h2>
        <p class="mb-3">Venez découvrir les événements que propose votre association, nous vous attendons !</p>
        <div class="intro-button mx-auto">
          <a class="btn btn-primary btn-xl" href="#">Voir les événements</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock section_two %}

{% block section_three %}

{% endblock section_three %}

{% block section_four %}

{% endblock section_four %}

{% block section_five %}

{% endblock section_five %}
