{% extends "profiles/base.html" %}

{% load crispy_forms_tags %}

{% block title %}Suppression du certificat médical ou de la licence{% endblock title %}

{% block section_one %}
  <section>
    <div class="container my-3">
      <div class="card text-center border-solid">
        <div class="card-body">
          <h1 class="text-primary text-center">Suppression du certificat médical ou de la licence</h1>
          <p>Confirmez-vous la suppression de ce fichier ?</p>
          <div class="col pb-3">
            <p>{{ user.personal.medical_file.name }}</p>
          </div>
          <form method="post">
            {% csrf_token %}
            {% crispy form %}
          </form>
          <a href="{% url 'profiles:profile' %}">Retour sans supprimer</a>
        </div>
      </div>
    </div>
  </section>
{% endblock section_one %}