{% extends "profiles/base.html" %}

{% block title %}Profil{% endblock title %}

{% block section_one %}
<section id="section_one">
  <div class="container my-3">
    <div class="card text-center border-solid">
      <div class="card-header">
        <ul id="profile_tab" role="tablist" class="nav nav-tabs card-header-tabs nav-fill">
          <li class="nav-item">
            <a class="nav-link active" id="mon-compte" data-toggle="tab" href="#my_account" role="tab" aria-controls="my_account" aria-selected="true">Mon compte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="etat-civil" data-toggle="tab" href="#my_info" role="tab" aria-controls="my_info" aria-selected="true">État civil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="coordonnees" data-toggle="tab" href="#my_numbers" role="tab" aria-controls="my_numbers" aria-selected="true">Coordonnées</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="mes-fichiers" data-toggle="tab" href="#my_files" role="tab" aria-controls="my_files" aria-selected="true">Mes fichiers</a>
          </li>
        </ul>
      </div>

      <div class="card-body">
        <div class="tab-content" id="signTabContent">
          
          <div class="tab-pane fade show active" id="my_account" role="tabpanel" aria-labelledby="mon-compte">
            <form action="change_password/">
              <div class="form-group py-4">
                <div class="row my-3">
                  <div class="col-12 col-lg-2">
                    <label>Courriel</label>
                  </div>
                  <div class="col-12 col-lg-8">
                    <input type="email" class="form-control" value="{{ user.email }}" disabled>
                  </div>
                </div>
                <div class="row my-3">
                  <div class="col-12 offset-lg-2 col-lg-8">
                    <input id="change_password_button" type="submit" class="btn btn-primary" value="Changer de mot de passe">
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="tab-pane fade" id="my_info" role="tabpanel" aria-labelledby="etat-civil">
            <form action="update_personal_info/">
              <div class="form-group py-4">
                <div class="row my-3">
                  <div class="col-12 col-lg-2">
                    <label>Nom</label>
                  </div>
                  <div class="col-12 col-lg-8">
                    <input type="text" class="form-control" value="{{ user.last_name }}" disabled>
                  </div>
                </div>
                <div class="row my-3">
                  <div class="col-12 col-lg-2">
                    <label>Prénom</label>
                  </div>
                  <div class="col-12 col-lg-8">
                    <input type="text" class="form-control" value="{{ user.first_name }}" disabled>
                  </div>
                </div>
                <div class="row my-3">
                  <div class="col-12 offset-lg-2 col-lg-8">
                    <input id="change_names_button" type="submit" class="btn btn-primary" value="Modifier">
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="tab-pane fade" id="my_numbers" role="tabpanel" aria-labelledby="coordonnees">
            <form action="update_phone_address/">
              <div class="row my-3">
                <div class="col-12 col-lg-2">
                  <label>Téléphone</label>
                </div>
                <div class="col-12 col-lg-8">
                  {% if user.personal.phone_number %}
                    <input type="text" class="form-control" value="{{ user.personal.phone_number }}" disabled>
                  {% else %}
                    <input type="text" class="form-control" disabled>
                  {% endif %}
                </div>
              </div>
              <div class="row my-3">
                <div class="col-12 col-lg-2">
                  <label>Adresse</label>
                </div>
                <div class="col-12 col-lg-8">
                  {% if user.personal.address.label_first %}
                    <input type="text" class="form-control" value="{{ user.personal.address.label_first }}" disabled>
                  {% else %}
                    <input type="text" class="form-control" disabled>
                  {% endif %}
                </div>
                <div class="col-12 offset-lg-2 col-lg-8">
                  {% if user.personal.address.label_second %}
                    <input type="text" class="form-control" value="{{ user.personal.address.label_second }}" disabled>
                  {% else %}
                    <input type="text" class="form-control" disabled>
                  {% endif %}
                </div>
                <div class="col-12 offset-lg-2 col-lg-8">
                  {% if user.personal.address.postal_code %}
                    {% if user.personal.address.city %}
                      <input type="text" class="form-control" value="{{ user.personal.address.postal_code }} {{ user.personal.address.city }}" disabled>
                    {% else %}
                      <input type="text" class="form-control" disabled>
                    {% endif %}
                  {% else %}
                    <input type="text" class="form-control" disabled>
                  {% endif %}
                </div>
                <div class="col-12 offset-lg-2 col-lg-8">
                  {% if user.personal.address.country %}
                    <input type="text" class="form-control" value="{{ user.personal.address.country }}" disabled>
                  {% else %}
                    <input type="text" class="form-control" disabled>
                  {% endif %}
                </div>
              </div>
              <div class="row my-3">
                <div class="col-12">
                  <div class="custom-control custom-checkbox">
                    {% if user.personal.has_private_profile %}
                      <input class="custom-control-input" type="checkbox" value="has_private_profile" id="confidential_check" checked disabled>
                    {% else %}
                      <input class="custom-control-input" type="checkbox" value="has_private_profile" id="confidential_check" disabled>
                    {% endif %}
                    <label class="custom-control-label" for="confidential_check">
                      Garder mes coordonnées confidentielles
                    </label>
                  </div>
                  <div class="row my-3">
                    <div class="col-12 offset-lg-2 col-lg-8">
                      <input id="update_phone_address" type="submit" class="btn btn-primary" value="Modifier">
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="tab-pane fade" id="my_files" role="tabpanel" aria-labelledby="mes-fichiers">
            <form action="update_personal_files/">
              <div class="form-group py-4">
                <div class="row my-3">
                  <div class="col-12 col-lg-2">
                    <label>Certificat médical ou licence</label>
                  </div>
                  <div class="col-12 col-lg-8">
                    <input type="text" class="form-control" value="{{ user.personal.medical_file }}" disabled>
                  </div>
                </div>
                <div class="row my-3">
                  <div class="col-12 col-lg-2">
                    <label>Pièce d'identité</label>
                  </div>
                  <div class="col-12 col-lg-8">
                    <input type="text" class="form-control" value="{{ user.personal.id_file }}" disabled>
                  </div>
                </div>
                <div class="row my-3">
                  <div class="col-12 offset-lg-2 col-lg-8">
                    <input id="change_files_button" type="submit" class="btn btn-primary" value="Modifier">
                  </div>
                </div>
              </div>
            </form>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>
{% endblock section_one %}